/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap'); */
/* @import url("https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@300;700&display=swap"); */

.wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  /* background-color: lightblue; */
}

.content-wrapper {
  position: absolute;
  width: 100%;
  height: 200px;
  /* border: 2px solid red; */
  top: 0px;
  display: flex;
  justify-content: center;

}



/* form styling */

.form-wrapper {
  background-color: #433F4D;
  width: 522px;
  height: 480px;
  border: 2px solid #ffaf16;
  margin-top: 160px;
  border-radius: 20px;
  box-shadow: 12px 12px 50px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.form {
  position: relative;
  margin-top: 98px;
  display: flex;
  flex-direction: column;
  height: 259px;
  width: 402px;
  justify-content: space-around;
}
input {
  width: 400px;
  height: 56px;
  /* background-color: red; */
  border-radius: 4px;
  /* border: 1px solid #d0d3da; */
  padding: 22px 22px 22px;
  letter-spacing: 4px;
}
input::placeholder {
  color: #5d677f;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 11px;
  opacity: 50%;
  text-transform: uppercase;
  letter-spacing: 2;
}
.email-placeholder {
  position: absolute;
  top: 33px;
  left: 22px;
  z-index: 9;
  transition: 0.3s ease-in;
  pointer-events: none;
  color: #5d677f85;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 11px;
  /* opacity: 50%; */
  text-transform: uppercase;
  letter-spacing: 2;
}

#email-validations,
#password-validations,
#email-validations1 {

  font-size: 11;
  color: #ff0f66;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin-left: 5px;
}
#email-validations {
  margin-top: -10px;
}
#password-validations {
  margin-top: 5px;
}
#email-validations1{
  margin-top: -10px;
}

input:focus ~ .email-placeholder,
input:not(:focus):valid ~ .email-placeholder,
.email-placeholder:focus ~ .email-placeholder {
  top: 0px;
  left: 17px;
  background-color: transparent;
  padding: 0px 5px;
  color: #ffaf16;
}

input:focus ~ .password-placeholder,
input:not(:focus):valid ~ .password-placeholder,
.password-placeholder:focus ~ .password-placeholder {
  top: -11px;
  left: 17px;
  background-color: transparent;
  padding: 0px 5px;
  color: #ffaf16;
}
input:focus {
  border-color: #ffaf16;
}

.password-placeholder {
  position: absolute;
  top: 21px;
  left: 22px;
  z-index: 9;
  transition: 0.3s ease-in;
  pointer-events: none;
  color: #5d677f85;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 11px;
  /* opacity: 50%; */
  text-transform: uppercase;
  letter-spacing: 2;
}

button[type="submit"] {
  width: 181px;
  height: 60px;
  background-color: #ffaf16;
  color: #fff;
  text-transform: uppercase;
  border: none;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 20px;
  border-radius: 40px;
}
.link-wrapper {
  height: 196px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: red; */
}
.forgot-password {
  text-transform: uppercase;
  color: #f5b118;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: auto;
  margin-top: 25px;
}

.password-wrapper {
  position: relative;
}
.eyeball {
  position: absolute;
  right: 15px;
  top: 18px;
}

.show,
.hide {
  position: absolute;
  top: 0;
  right: 2px;
  cursor: pointer;
}
.invisible {
  display: none;
}
.visible {
  display: block;
}
